/* *****************************************************************************
 SETTINGS BLOCKS
 * ****************************************************************************/

.wbb_ocm_settings_container{
    width: 90%;
    height: 100%;
}

.wbb_ocm_setting_block{
    padding: 25px;
    background-color: white;
}

.wbb_ocm_setting_block .left-col
, .wbb_ocm_setting_block .right-col
{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
.wbb_ocm_setting_block .left-col{
    margin-right: 1px;
}

.wbb_ocm_settings_container label
, .wbb_ocm_settings_container input {
    display: block;
}

.wbb_ocm_settings_container label{
    cursor: default;
}

.wbb_ocm_settings_container span.info-span{
    min-width: 150px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 25px;

}

.wbb_ocm_settings_container label{
}

/* *****************************************************************************
 IFRAME TO CHECK SOME VARS.
 * ****************************************************************************/

#wbb_ocm_iframe{
    display: none;
}

/* *****************************************************************************
 COLOR PICKER
 * ****************************************************************************/
.wp-picker-clear.hidden{
    display: none !important;
}
.wp-picker-input-wrap input{
    display: inline-block !important;
    vertical-align: top;
}

/* *****************************************************************************
 DEVICES
 * ****************************************************************************/

.wbb_ocm_devices_list li{
    transition: 0.5s linear;
    background-image: url("../img/devices.jpg");
    background-size: 200px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.wbb_ocm_devices_list li:nth-child(1) { background-position: -55px -11px; }
.wbb_ocm_devices_list li:nth-child(2) { background-position: -105px -11px; }
.wbb_ocm_devices_list li:nth-child(3) { background-position: -156px -11px; }
.wbb_ocm_devices_list li:nth-child(4) { background-position: -5px -11px; }


.wbb_ocm_device_inputs_container{
    display: none;
}

.wbb_devices_0{
    opacity: 0.15;
}
.wbb_devices_1{
    opacity: 1;
}

/* *****************************************************************************
 TRIGGER BUTTON
 * ****************************************************************************/

.wbb_ocm_trigger_icon_list{
    padding: 0px;
    margin: 0px;
    width: 300px;
}

.wbb_ocm_trigger_icon_list li:nth-child(5)
,.wbb_ocm_trigger_icon_list li:nth-child(6)
,.wbb_ocm_trigger_icon_list li:nth-child(7)
,.wbb_ocm_trigger_icon_list li:nth-child(8){
    background-color: grey;
}

.wbb_ocm_trigger_icon_list li{
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;
    padding: 5px;
    opacity: 0.45;
}

.wbb_ocm_trigger_icon_list li.active{
    opacity: 1;
    border: 2px solid #777;
}

.wbb_ocm_trigger_icon img{
    width: 45px;
    height: auto;
}

.wbb_com_trigger_icon_selected{
    width: 50px;
    height: 50px;
    padding: 10px;
}

/* *****************************************************************************
 ALERT MESSAGE, TRIGGER TARGET
 * ****************************************************************************/

.alert_error{
    display: none;
    color: #990000;
    font-weight: bold;
}

/* *****************************************************************************
 SUBMIT BUTTON
 * ****************************************************************************/

.wbb_ocm_settings_submit{
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 80px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.wbb_ocm_settings_submit:hover {
    background: #3cb0fd;
    text-decoration: none;
}

/* *****************************************************************************
 FONT FAMILY
 * ****************************************************************************/
.wbb_com_font_family_item{
    border-bottom: 1px solid lightgray;
    padding: 5px;
    width: 150px;
    margin: 0px;
    cursor: pointer;
}

.wbb_com_font_family_item.active{
    background-color: lightgrey;
}

/* *****************************************************************************
 STATUS BLOCK - ACTIVATE/DEACTIVATE
 * ****************************************************************************/

.wbb_ocm_status_block div{
    display: inline-block;
}

.wbb_checkbox{
    background-color: #f0f0f0;
    border-radius: 3px;
    border: 1px solid darkgrey;
    height: 25px;
    width: 75px;
    cursor: pointer;

    font-size: 1.15em;
    word-spacing: 20px;
    padding: 3px 3px 0px 7px;
    color: white;
}

.wbb_checkbox span{
    transition: 0.25s linear;
}

.wbb_checkbox span.on{
    color: #333;
}
.wbb_checkbox span.off{
    color: white;
}
.wbb_checkbox.activated span.on{
    color: white;
}
.wbb_checkbox.activated span.off{
    color: #333;
}

.wbb_checkbox span.indicator{
    width: 44px;
    height: 29px;
    display: block;
    border-radius: 2px;
    margin: -21px 0px 0px 35px;

    background: #8d8d8d; /* Old browsers */
    background: -moz-linear-gradient(top, #8d8d8d 0%, #676767 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d8d8d), color-stop(100%,#676767)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8d8d8d 0%,#676767 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8d8d8d 0%,#676767 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8d8d8d 0%,#676767 100%); /* IE10+ */
    background: linear-gradient(to bottom, #8d8d8d 0%,#676767 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8d', endColorstr='#676767',GradientType=0 ); /* IE6-9 */
}


.wbb_checkbox.activated span.indicator{

    margin: -21px 0px 0px -8px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008ec1+0,0675a2+100 */
    background: #008ec1; /* Old browsers */
    background: -moz-linear-gradient(top,  #008ec1 0%, #0675a2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008ec1), color-stop(100%,#0675a2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #008ec1 0%,#0675a2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #008ec1 0%,#0675a2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #008ec1 0%,#0675a2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #008ec1 0%,#0675a2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ec1', endColorstr='#0675a2',GradientType=0 ); /* IE6-9 */

}

.wbb_ocm_status_result{
    text-transform: capitalize;
    font-size: 1.5em;
    margin-left: 10px;
}





/* *****************************************************************************
 PLUTO PLUGIN - TRANSPARENT OPTION
 * ****************************************************************************/

.pluto-alpha-container .transparency {
    height:24px;
    width:100%;
    background-color:#FFF;
    background-image:url(../img/transparency-grid.png);
    box-shadow:0 0 5px rgba(0,0,0,0.4) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:0;
}

.pluto-alpha-container .ui-slider-handle {
    color:#777;
    background-color:#FFF;
    text-shadow:0 1px 0 #FFF;
    text-decoration:none;
    position:absolute;
    z-index:2;
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    border:1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity:0.9;
    margin-top:-2px;
    height:20px;
    cursor:ew-resize;
    font-size:12px;
    padding:3px;
}

.pluto-alpha-container .ui-slider {
    position:relative;
    text-align:center;
    width:88%;
}

.wp-picker-container a.wp-picker-open ~ div.pluto-alpha-container {
    display:block;
}

.pluto-alpha-container {
    box-sizing: padding-box;
    display :none;
    border:1px solid #dfdfdf;
    border-top:none;
    background:#FFF;
    padding:0 11px 6px;
}

.customize-control-alphacolor .wp-picker-container .iris-picker {
    border-bottom:none;
}

